/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */
.container{
	text-align: center;
	margin-bottom: 100px;
}
h3{
	font-weight: bold;
	margin-top: 20px;
}
h4{
	font-size: 17px;
}
.name{
	font-weight: bold;
}
.bolder{
	font-weight: bold;
}
.twitter{
	height: 150px;
	width: 150px;
	background-color: red;
	border-radius: 50%;
		margin-left: 60px;
}
#fb-profile{
	float: right;
}
#twit-box, #fb-feed, #twitter-box{
	float: left;
}
.box{
	border: 6px solid #ddd;
	overflow: hidden;
	margin-top: 20px;
}
#cheat{
	width: 500px;
}
.content-box{
	text-align: left;
	margin: 20px 60px;
}
.content-box ul{
	font-size: 100%;
}
.inner-list ul{
	list-style-type: disc;
}
.outer-list li{
	list-style-type: circle;
}
.icons{
/*	width: 350px;*/
/*	margin: 0 auto;*/
/*	padding-bottom: 160px;*/
}
.twitter img{
	margin: 50px;
}
li{
	line-height: 20px;
}
.section{
	margin-top: 30px;
}
#facebook-box{
	width: 850px;
	margin: 0 auto;
	padding-bottom: 425px;
}
#facebook-box img{
	width: 400px;
}
.result{
	padding-bottom: 20px;
}
/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/